body {
    color: #97a87a;
    background-color: #dad7cd;
    font-family: sans-serif;
    text-align: center;
}
#taskInput{
    width: 20%;
    padding: 10px;
    margin-bottom: 15px;
    border: 0px;
    border-radius: 14px;
    font-size: 16px;
    color: #97a87a;
}
button{
    width: auto;
    padding: 10px;
    margin-bottom: 15px;
    border: 0px;
    border-radius: 14px;
    font-size: 16px;
    background-color: #97a87a;
}
button:hover{
    background-color: #97a87a92;
}

