body {
    font-family: Arial, sans-serif;
    background-color: #470055;
    color: #333;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #25002c;
    height: 51px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1); 
    align-items: center;
    padding: 0 20px;
}

footer {
    text-align: center;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

button, .dropbtn {
    background-color: #25002c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s;
}

button:active, .dropbtn:active {
    transform: scale(0.95);
    background-color: #33003d; 
}

.dropdown {
    margin-left: auto;
    padding: 30px;
    position: relative;
    display: inline-block;
    z-index: 1001; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
    top: 73%;
    left: 0; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #adadad}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    max-height: 500px; 
    animation: rollDown 0.5s ease-in-out;
}


.dropdown:hover .dropbtn {
    background-color: #5e0073; 
}


@keyframes rollDown {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}